* {
    box-sizing: border-box;
}

.itemA {
    grid-area: sidebar;
}

.itemB {
    grid-area: header;
}

.itemC {
    grid-area: main;
}

#body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
        "sidebar main main";
}